torch
torchvision
torchmetrics
tensorboardX
tensorboard
matplotlib
numpy
Pillow
librosa
inflect
scipy
scikit-image
opencv-python
Unidecode
pillow
tqdm
configargparse
albumentations
pycocotools
gdown
kaggle
pandas
Shapely